.container
  .row
    .col-md-12
      %h1 All Surveys
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h4 Upload Results File
        .panel-body.file-upload
          = form_tag '/survey_results', multipart: true do
            %span.btn.btn-default.btn-file.file-upload-proxy
              Browse for file
            %input{ type: 'file', class: 'hidden', name: 'file' }
            %input{ type: 'submit', class: "btn btn-primary pull-right" }

      %ul.files.list-group
        - @csv_files.each do |csv_file|
          %li.list-group-item.clearfix
            = csv_file.name
            .btn-group.pull-right
              %a{ href: survey_result_path(csv_file), class: "btn btn-default"}
                View Results
                .glyphicon.glyphicon-stats{"aria-hidden" => "true"}
              %a{ href: '#', class: "btn btn-danger"}
                .glyphicon.glyphicon-remove{"aria-hidden" => "true"}
        